name: Deploy Website to cPanel (SSH)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, bcmath, gd, zip

    - name: Install Composer Dependencies
      run: composer install --no-dev --optimize-autoloader

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install NPM Dependencies & Build
      run: |
        npm install
        npm run build

    - name: Create Deployment Archive
      run: |
        # Zip all files, including vendor (since we can't run composer on server easily)
        zip -r deploy.zip . -x "node_modules/*" ".git/*" ".github/*" "tests/*" "storage/logs/*" ".env" "deploy.zip"

    - name: Deploy Archive via SCP
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        source: "deploy.zip"
        target: ${{ secrets.REMOTE_TARGET }}
        overwrite: true

    - name: post-deployment commands
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd ${{ secrets.REMOTE_TARGET }}
          unzip -o deploy.zip
          rm deploy.zip
          
          # Remove hosting default files to allow Laravel to load
          rm -f index.php index.html default.html cgi-bin
          
          # These commands will succeed once PHP version is set to 8.2 in cPanel
          php artisan migrate --force
          php artisan optimize
          php artisan view:clear
